/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Utility Classes                                      */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.center {
  display: grid;
  place-items: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.justify-between {
  justify-content: space-between;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Base                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

:root {
  --app-background-dark: rgb(24, 23, 32);
  --primary-accent-red: rgb(255, 69, 69);
  --secondary-accent-blue: rgb(30, 144, 255);
  --grey: rgb(200, 200, 200);
}

body {
  font-family: 'Noto Sans', 'Open Sans', arial, sans-serif;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

h1, h2, p, li {
  color: #fff;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Header                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
header {
  height: 6rem;
  background-color: rgb(255 255 255 / 5%);

  >* {
    line-height: 6rem;
  }

  li {
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    cursor: pointer;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2px;
  cursor: pointer;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Banner                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.hero-banner {
  /* background: var(--app-background-dark) url(../media/hero-banner.jpg) center / cover no-repeat; */
  height: 50rem;
  position: relative;
}

.hero-banner::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.7);
  content: '';
}
